
.react-supervenn-layout {
  flex: 1 1 auto;
  overflow: hidden;
  display: grid;
  grid:
      ".           .           ycount      .          " min-content
      "ylabel      yticks      data        xcount     " auto
      ".           .           xticks      .          " min-content
      "sets        sets        xlabel      items      " min-content
    /  min-content min-content minmax(min-content, 2fr) minmax(min-content, 1fr)
  ;
  resize: vertical;
}

.react-supervenn-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}
.react-supervenn-data > div {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
.react-supervenn-data > div.react-supervenn-alternate {
  background-color: #ddd;
}
.react-supervenn-cell {
  border: 2px solid white;
  cursor: pointer;
}
.react-supervenn-cell.react-supervenn-selected {
  border: 2px solid black;
}

.react-supervenn-ylabel {
  grid-area: ylabel;
  position: relative;
  width: 50px;
}
.react-supervenn-ylabel > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  user-select: none;
}

.react-supervenn-xlabel {
  grid-area: xlabel;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.react-supervenn-yticks {
  grid-area: yticks;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.react-supervenn-yticks .react-supervenn-selected {
  font-weight: bold;
}
.react-supervenn-yticks > div {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  border: 2px solid white;
  cursor: pointer;
}
.react-supervenn-yticks > div > span {
  user-select: none;
}

.react-supervenn-xticks {
  grid-area: xticks;
  display: flex;
  flex-direction: row;
}
.react-supervenn-xticks .react-supervenn-selected {
  font-weight: bold;
}
.react-supervenn-xticks > div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  cursor: pointer;
}
.react-supervenn-xticks > div > span {
  user-select: none;
}
.react-supervenn-xticks > div.react-supervenn-rotated {
  position: relative;
}
.react-supervenn-xticks > div.react-supervenn-rotated > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  user-select: none;
}

.react-supervenn-ycount {
  grid-area: ycount;
  display: flex;
  flex-direction: row;
  background-color: #eee;
  height: 50px;
}
.react-supervenn-ycount > div {
  cursor: pointer;
  border: 2px solid white;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
}
.react-supervenn-ycount > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
}
.react-supervenn-ycount > div > div > span {
  user-select: none;
}

.react-supervenn-xcount {
  grid-area: xcount;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}
.react-supervenn-xcount > div {
  cursor: pointer;
  border: 2px solid white;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.react-supervenn-xcount > div.react-supervenn-alternate {
  background-color: #ddd;
}
.react-supervenn-xcount > div > div {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  align-items: center;
  background-color: #aaa;
}
.react-supervenn-xcount > div > div > span {
  user-select: none;
}

.react-supervenn-sets {
  grid-area: sets;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}
.react-supervenn-sets > textarea { 
  flex: 1 0 auto;
  resize: none;
}

.react-supervenn-items {
  grid-area: items;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}
.react-supervenn-items > textarea { 
  flex: 1 0 auto;
  resize: none;
}